/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* * {
  border: 1px deeppink solid;
} */

@keyframes example {
  from {background-color: rgba(0, 191, 255, 0);}
  to {background-color: rgba(255, 20, 145, 0.2);}
}

@keyframes example3 {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes example2 {
  0% {background-color: rgba(0, 191, 255, 0);}
  50% {background-color: deeppink;}
  100% {background-color: rgba(0, 191, 255, 0);}
}

* { 
  box-sizing: border-box;
}

/* clear link formatting */
a {
  color: inherit;
  text-decoration: inherit;
  align-items: inherit;
  text-align: inherit;
  align-self: inherit;
}

/* whole doc styling */

body {
  background-color: deepskyblue;
}

#root {
  display: grid;
  grid-template-columns: 15% 85%;
}

/* nav styling */

.left-search-nav {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: .8rem;
}

h3 {
  text-align: center;
  color: aliceblue;
  margin-top: 100px;
}

input {
  cursor: text;
  color: deeppink;
  font-weight: bold;
  border-radius: .3rem;
}

button {
  background-color: deeppink;
  color: aliceblue;
  border-radius: .3rem;
  border: solid 2px rgba(0, 0, 0, 0);
  font-weight: bold;
  padding: .1rem;
}

button:hover {
  cursor:pointer;
  box-shadow: fuchsia 1px 1px 2px;
}

button:disabled {
  opacity: .5;
}

select {
  width:fit-content;
  align-self: center;
  background-color: deeppink;
  color: aliceblue;
  border-radius: .3rem;
  border: solid 2px rgba(0, 0, 0, 0);
  font-weight: bold;
  padding: .1rem;
}

select:hover {
  cursor: pointer;
  box-shadow: fuchsia 1px 1px 2px;
}

/* right side */

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

form * {
  margin: .5rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

/* individual elements */

li {
max-width: 17%;
max-height: auto;
display: flex;
flex-direction: column;
align-items: center;
margin: 2rem .5rem .5rem .5rem;
color: ghostwhite;
background-color: rgba(255, 20, 145, 0.2);
border: rgb(20, 130, 255) 1px solid;
border-radius: 5%;
padding: 1rem;
animation-name: example;
animation-duration: 8s;
}

li:hover {
  animation-name: example2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite
}

li div:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1vw;
  text-shadow: rgba(0, 94, 126, 0.598) 0px 0px 3px;
  margin-bottom: .3rem;
}

ul img {
  width: 100%;
}

/* color tags */

.attributes {
  display: flex;
  flex-wrap: wrap;
}

.attributes span {
  flex-grow: 1;
  margin: 1px 3px 1px 3px;
  font-size: .6vw;
  font-weight: bold;
  border-radius: 4px;
  padding: 2px 5px 2px 5px;
  min-width: 40px;
  text-align: center;
}

.attributes-legend {
margin-top: 3rem;
display: flex;
flex-direction: column;
}

.attributes-legend span {
  margin: 2px 4px 2px 4px;
  font-size: .8vw;
  font-weight: bold;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  width: fit-content;
  color: white;
  align-self: center;
  margin: .08rem;
  min-width: 110px;
  text-align: center;
}

.attributes-legend span:nth-child(3) {
  color: darkslategray;
}

.attributes-legend span:nth-child(4) {
  color: darkslategray;
}

.attributes-height {
  background-color: #704E2E;
}

.attributes-weight {
  background-color: #79745C;
}

.attributes-attack {
  background-color: #E6F8B2;
  color: darkslategray;
}

.attributes-defense {
  background-color: #CDE77F;
  color: darkslategray;
}

.attributes-weight {
  background-color: #709176;
}

.attributes-hp {
  background-color: #D34F73;
}

.attributes-speed {
  background-color: #ED9390;
}

.attributes-ability {
  background-color: #F374AE;
}

.attributes-egggroup {
  background-color: #885A89;
}

.attributes-shape {
  background-color: #552244;
}