/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* * {
  border: 1px deeppink solid;
} */

@keyframes example {
  from {background-color: deeppink;}
  to {background-color: deepskyblue;}
}

@keyframes example2 {
  0% {background-color: deepskyblue;}
  50% {background-color: deeppink;}
  100% {background-color: deepskyblue;}
}

body {
  background-color: deepskyblue;
}

form {
  margin: 3rem;
}

form > * {
  margin: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
width: 17%;
display: flex;
flex-direction: column;
align-items: center;
margin: .5rem;
color: ghostwhite;
background-color: deeppink;
border: rgb(20, 130, 255) 1px solid;
border-radius: 5%;
padding: 1rem;
animation-name: example;
animation-duration: 4s;
}

li:hover {
  animation-name: example2;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite
}

li img {
  width: 75%;
}

li div:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .7rem;
}

li div:nth-child(3) {
  font-size: .5rem;
  font-style: italic;
}